$bg-color: #333;
$bg-hover-color: #345;
$icon-color: #fff;
$icon-active: #77f;
$step: 32px;
$separator-size: $step * 0.25 * 0.5;

*>* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html,
#app,
#editor-container {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}